@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

:root {
    --font: 'Josefin Sans', sans-serif;
    --font-2: 'Roboto Condensed', sans-serif;
    --DesaturatedRed: hsl(0, 36%, 70%);
    --SoftRed: hsl(0, 93%, 68%);
    --DarkGrayishRed: hsl(0, 6%, 24%);
    --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    --green-1: #99ff99;
    --green-2: #66ff66;
    --green-3: #33ff33;
    --green-4: #05ff05;

    //web-safe-grey
    --grey-1: #999999;
    --grey-2: #666666;
    --grey-3: #333333;
    --grey-4: #f3f1fe;
    --grey-5: #d1d1d1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

body {
    line-height: 1.5;
    background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    font-family: var(--font);
}

header {

    background: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    height: 80px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(0, 0%, 100%);
    text-transform: uppercase;
    position: relative;

    h1 {
        font-size: 1.4rem;

    }

}

.input {
    position: absolute;
    top: 60px;
    width: 100%;
    background-color: #111;
    height: 120px;
    text-align: center;

    input {
        appearance: none;
        border: none;
        width: 100%;
        max-width: 600px;
        height: 40px;
        margin: 1em;
        padding: 1em;
        color: var(--DarkGrayishRed);
        font-family: var(--font);
        background: linear-gradient(to bottom, #ffffff 0%, #EFEFEF 100%);
    }

}

ul {
    color: var(--DarkGrayishRed);
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-auto-rows: 250px;
    gap: 5px;
    width: 100%;
    place-content: center;


    li {
        text-align: left;
        width: 100%;
        background-color: #fafafa;
        margin: 0.5em 0;
        padding: 0.3em;
        border-radius: 5px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        animation: cards 0.5s ease-in forwards;
        box-shadow: 0 5px 10px -5px rgba($color: #000000, $alpha: 0.2);
        padding: 1em;

        span {
            font-weight: 400;
            font-size: 0.9rem;
            font-family: var(--font-2);
        }

        .rank {
            font-weight: 700;
            font-family: var(--font-2);
            color: var(--grey-3);
        }

        .city {
            font-weight: 700;
            color: var(--grey-3);
        }

        .population {
            margin-top: 0.5em;
            color: var(--Blue);
            text-transform: capitalize;
        }

    }
}

button {
    display: inline-block;
    appearance: none;
    border: none;
    padding: 0.5em 1em;
    line-height: 1.5;
    font-family: var(--font-2);
    text-transform: capitalize;
    letter-spacing: 1px;
    cursor: pointer;
    font-weight: 400;
    color: var(--Very-dark-desaturated-blue);
}
.highlight{
    background-color: #fdc10e;
}
#sort--by--rank {
    background-color: var(--Blue);
}

#sort--by--population {
    background-color: var(--Cyan);
}

.low {
    color: var(--SoftRed);
}

.high {
    color: #33ff33;
}

.middle {
    color: var(--Orange);
}


@keyframes cards {
    0% {
        opacity: 0;
        transform: scale(0.5);

    }

    100% {
        opacity: 1;
        transform: scale(1);

    }



}

@media screen and(max-width:599px){
    .input{
        max-width: 480px;
        input{
            max-width: 380px;
        }
    }
}